body {
  margin: 0;
  padding: 0;
  background: #333;
}

.wrap {
  width: 960px;
  height: 883px;
  margin: 0 auto;
  background: url('../img/bg.jpg');
  color: #fff;
  font-family: Arial;
}

header .logo-and-palm {
  margin: 0 0 0 70px;
}

header .logo {
  position: absolute;
  top: 130px;
  z-index: 1;
}

header .palm-tree {
  position: relative;
  top: 55px;
  left: 141px;
}

header h1 {
  margin: 23px 0 0 155px;
  font-size: 10px;
}

.contacts {
  margin: -40px 0 0 770px;
}

.contacts span {
  display: block;
}

.contacts .contact_us {
  margin-bottom: 2px;
  font-size: 10px;
  font-weight: bolder;
}

.contacts .email,
.contacts .phone {
  line-height: 12px;
  font-size: 9px;
}

ul {
  margin: 15px 0 0 0;
  padding: 0;
  text-align: center;
  list-style: none;
}

ul li {
  display: inline-block;
  margin: 0 2px 50px 0;
}

nav figure {
  position: relative;
  width: 270px;
  margin: 0;
}

nav figure .frame {
  position: absolute;
  top: -5px;
  left: -2px;
}

nav figure .img-of-country {
  margin-bottom: -3px;
}

nav figure figcaption {
  display: inline;
  font-size: 16px;
  color: #fff;
  text-align: center;
}

nav a {
  text-decoration: none;
}

footer {
  margin: 130px 0 0 0;
  text-align: center;
  font-size: 11px;
}
